
/* utilized colorhunt.co to find color scheme for site. */
html {
  background-color: #387c6d; 
}

/* I added a long list of alt font-family styles, to encapsulate all web browser compatability. */
header {
  text-align: center;
  color: #e9896a;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* I used a sample style to get an idea on how to make a more unique looking hr element. */
hr {
    border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #e9896a, #8c8b8b, #e9896a);
  background-image: -moz-linear-gradient(left, #e9896a, #8c8b8b, #e9896a);
  background-image: -ms-linear-gradient(left, #e9896a, #8c8b8b, #e9896a);
  background-image: -o-linear-gradient(left, #e9896a, #8c8b8b, #e9896a);
}

/* The image i uploaded was large, so I used CSS elements to resize and center my first image. */
.me-img {

 display: block;
 margin: 0 auto;
 padding-top: 10px;
 width: 50%;
}

/* utilzing the h3 tag, I set a priority to the header to match the style I was looking for. */

h3 {
  color: #e9896a;
  text-align: center;
}

p {
  color: #f8f5f1;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.projects {
  color: #f8f5f1;
  display: block;
  margin: 0 auto;
  width: 20%;
}

.contact-me {
  color: #f8f5f1;
  display: block;
  margin: 0 auto;
  width: 20%;
}

/* for my next two images, I wanted them both to fit and be centered, but did not want them sharing class values. */
.map-seattle {
  display: block;
  margin: auto auto;
  width: 55%;
  padding: 20px;
  border: 10px;
}

.seattle-needle {
  display: block;
  margin: auto auto;
  width: 55%;
}
